html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: #000606;
    padding: 0;
    margin: 0;
    color: #fbfbfb;
    font-family: 'Helvetica' , sans-serif;
}

.navbar {
    height: 8vh;
    width: 100vw;
    padding: 15px;

    .logo {
        height: 5vh;
    }
}

.heading-section {
    
    padding-top: 25px;
    margin-bottom: 30px;

    h2 {
        text-align: center;
    }
}

.wordguess-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    
    .item {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 30px
    }
}

.scoreboard-section {
    padding: 15px;
    margin-top: 50px;
}