html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: #000606;
    padding: 0;
    margin: 0;
    color: #fbfbfb;
    font-family: 'Helvetica' , sans-serif;
}

.navbar {
    height: 5vh;
    width: 100vw;
    padding: 15px;

    .logo {
        height: 5vh;
    }
}

.heading-section {
    
    padding-top: 25px;

    h2 {
        text-align: center;
    }
}

.wordguess-section {
    padding-top: 50px;
}